/* Full-size container */
.maze-grid {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  height: 100%;
  /* gap: 1px; */
}

/* Each row spreads cells horizontally */
.maze-row {
  display: flex;
  flex: 1;
  /* gap: 1px; */
}

/* Each cell auto-resizes based on grid */
.maze-cell {
  flex: 1;
  aspect-ratio: 1 / 1;
  background-color: white;
  /* border: 1px solid #e5e7eb; Optional border */
}

/* Wall and path styling */
.wall {
  background-color: black;
}

.path {
  background-color: white;
}

.start {
  background-color: green;
}
.goal {
  background-color: red;
}

.visited {
  background-color: lightblue;
}

.path-to-goal {
  background-color: yellow;
}

.maze-tip {
  background-color: #f0f8ff;
  color: #333;
  padding: 2vh;
  margin:  auto;
  width: fit-content;
  border-radius: 8px;
  border: 1px solid #007bff;
  font-size: 16px;
  font-weight: 500;
}
